
@{
    ViewBag.Title = "AddCategory";
}

<form method="post">
    <input type="text" class="form-control" name="name"/>
    <input type="submit" value="Add Category" class="btn btn-primary" />
</form>

