@model mvcElectronix.Models.Users
@{
    ViewBag.Title = "ChangePassword";
}


        <form method="post">

           @*<label>Old Password:</label>*@
           @*<input type="password" name="oldpassword"/>*@
            @*@Html.ValidationMessageFor(n => n.password)*@
            <label>New Password:</label>
            @*<input type="password" class="form-control" name="oldpassword"/>
            <input type="password" class="form-control" name="newpassword" />*@
            @*<input type="password" class="form-control" name="confirmpassword" />*@
            @Html.EditorFor(n => n.password, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.password)
            <label>Confirm Password:</label>
            @Html.EditorFor(n => n.cPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(n => n.cPassword)
         
            <input type="submit" value="Login" class="btn btn-primary" />
        </form>


